<%-include("header")-%>
<h2>About Page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, harum quod culpa perferendis quisquam delectus saepe neque inventore voluptatibus explicabo a eius laboriosam suscipit quibusdam omnis aliquid provident ducimus iusto!</p>
<%-include("footer")-%>